* {
  scrollbar-width: thin;
  scrollbar-color: var(--ss-accent-color) var(--ss-dark);
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:focus-visible {
  outline: 2px solid var(--ss-accent-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--ss-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--ss-accent-color);
  border-radius: 10px;
  border: 2px solid var(--ss-dark);
}

img {
  width: 100%;
  max-width: 100%;
  color: var(--ss-body-color);
  font-style: italic;
  text-decoration: unset;
  font-family: inherit;
}

body {
  background-color: var(--ss-body-bg);
  color: var(--ss-body-color);
  font-family: var(--ss-body-font-family);
  font-size: var(--ss-step-0);
  font-weight: var(--ss-body-font-weight);
  line-height: var(--ss-body-line-height);
}

.u-container,
.container {
  margin: 0 auto;
  padding-left: var(--ss-grid-gutter);
  padding-right: var(--ss-grid-gutter);
}

.container {
  max-width: var(--ss-grid-max-width);
}

.u-container {
  max-width: var(--ss-grid-ultimate-width);
}

.container .u-container {
  padding-inline: 0;
}

cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ss-space-xs);
}

.ds-inner-px {
  display: block;
  padding-block: var(--ss-space-l-xl);
}

.ds-outer-px {
  display: block;
  padding-block: var(--ss-space-5xl);
}

@media (width < 768px) {
  .ds-outer-px {
    padding-block: var(--ss-space-2xl);
  }
}

.ds-header {
  display: grid;
  place-content: center;
  text-align: center;
  gap: var(--ss-space-s);
}

@media (width < 768px) {
  .ds-header {
    place-content: start;
    text-align: start;
    padding-inline: var(--ss-space-s);
  }

  .subtitle {
    margin-left: 8px;
  }
}

.ds-grid {
  display: grid;
  gap: var(--ss-grid-gutter);
  grid-template-columns: repeat(var(--grid-columns, 1), 1fr);
  margin-top: var(--ss-space-xl);
}

@media (width > 768px) {
  .ds-grid {
    --grid-columns: 2;
  }
}

@media (width > 992px) {
  .ds-grid {
    --grid-columns: 3;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

[class*='hint']::after {
  font-family: inherit !important;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}

.bg-blur {
  position: relative;
  z-index: 1;
}

.bg-blur::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: inherit;
  z-index: -1;
}

#page-content>* {
  display: block;
  margin-top: var(--ss-space-5xl);
}