* {
  scrollbar-width: thin;
  scrollbar-color: var(--ss-accent-color) var(--ss-dark);
  margin: 0;
}

:focus-visible {
  outline: 2px solid var(--ss-accent-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--ss-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--ss-accent-color);
  border-radius: 10px;
  border: 2px solid var(--ss-dark);
}

img {
  width: 100%;
  max-width: 100%;
  color: var(--ss-body-color);
  font-style: italic;
  text-decoration: unset;
  font-family: inherit;
}

body {
  background-color: var(--ss-body-bg);
  color: var(--ss-body-color);
  font-family: var(--ss-body-font-family);
  font-size: var(--ss-step-0);
  font-weight: var(--ss-body-font-weight);
  line-height: var(--ss-body-line-height);
}

.u-container,
.container {
  margin: 0 auto;
  padding-left: var(--ss-grid-gutter);
  padding-right: var(--ss-grid-gutter);
}

.container {
  max-width: var(--ss-grid-max-width);
}

.u-container {
  max-width: var(--ss-grid-ultimate-width);
}

cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ss-space-xs);
}

.ds-inner-px {
  display: block;
  padding-block: var(--ss-space-l-xl);
}

.ds-outer-px {
  display: block;
  padding-block: var(--ss-space-5xl);
}

.ds-header {
  display: grid;
  place-content: center;
  text-align: center;
  gap: var(--ss-space-s);
}

.ds-grid {
  display: grid;
  gap: var(--ss-grid-gutter);
  grid-template-columns: repeat(var(--grid-columns, 1), 1fr);
  margin-top: var(--ss-space-xl);
}

@media (width > 768px) {
  .ds-grid {
    --grid-columns: 2;
  }
}

@media (width > 992px) {
  .ds-grid {
    --grid-columns: 3;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.scroll-to-top {
  position: fixed;
  right: 0px;
  transform: translate(70%, -149%) rotate(-90deg);
  transform-origin: left;
  display: grid;
  grid-template-columns: 50px auto;
  place-items: center;
  column-gap: var(--ss-space-xs);
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 18px 32px;
  border-radius: 100vmax;
  overflow: hidden;
  bottom: 0;
  line-height: 1;
  place-content: center;
}

.scroll-to-top::after {
  content: "";
  background: #ffffff12;
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(2rem);
}

.scroll-to-top__progress {
  position: relative;
  height: 3px;
  width: 100%;
  background: #555;
  transform: translateY(2px) scaleX(-1);
  border-radius: 100vmax;
}

#progress-bar {
  position: absolute;
  inset: 0;
  background: var(--ss-accent-color);
  transition: width 500ms ease-in-out;
}

.scroll-to-top__text {
  font-size: var(--ss-step--1);
  color: var(--ss-accent-color);
}

.masked-circle {
  position: fixed;
  inset: 0;
  background-color: var(--ss-dark);
  mask-image: radial-gradient(circle at center center, transparent 0%, var(--ss-body-bg) 0%);
  z-index: 2000000010;
  opacity: 1;
  transition: none;
}

.masked-circle.loading::before {
  content: 'loading';
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 26px;
  animation: scalingTransition 5s infinite ease-in-out;
  animation-delay: 500ms;
  opacity: 0;
}

@keyframes scalingTransition {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  25% {
    transform: scale(0.5);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}

[class*='hint']::after {
  font-family: inherit !important;
  border-radius: 7px;
}

/* about page style */
.page--about .profile__item {
  background-color: var(--ss-dark);
}

/* .page--about .counter {
  background: var(--ss-accent-gradient);
}

.page--about .counter * {
  color: var(--ss-body-bg);
} */

@media (width > 768px) {
  .page--about .counter__wrapper {
    grid-template-columns: 1fr 1fr 3.5fr;
  }
}

.page--about .profile__wrapper {
  grid-template-columns: 1fr;
}

.page--about .profile__content {
  display: grid;
  gap: var(--ss-grid-gutter);
}

.page--about .profile__header.ds-header {
  text-align: start;
  place-items: start;
  place-content: start;
}

.page--about .profile__title {
  margin-bottom: var(--ss-space-xs);
  display: flex;
  place-items: center;
}

.page--about .profile__header .subtitle {
  font-weight: 500;
  line-height: 1.8;
}

.page--about .profile__header>* {
  max-width: 284px;
}

.page--about hr {
  opacity: 0.2;
}


@media (width > 768px) {

  .page--about .callout__wrapper {
    place-content: start;
    text-align: start;
    place-items: start;
  }

  .page--about .callout .cta__btn {
    place-self: end;
  }

  .page--about .profile__content {
    grid-template-columns: 1fr 1.5fr;
  }

  .page--about .profile__list {
    margin-top: 0;
  }
}

.page--about .skill {
  padding-block: var(--ss-space-5xl) var(--ss-space-2xl);
}

.page--about .callout {
  background-color: rgba(24, 24, 24, 0);
}

.page--about .callout__title {
  font-size: 10vw;
  margin-top: var(--ss-space-s-m);
}

@media (width > 1440px) {
  .page--about .callout__title {
    font-size: 8.74vw;
  }
}

@media (width > 1600px) {
  .page--about .callout__title {
    font-size: 6.99vw;
  }
}

.page--about .counter {
  background: var(--ss-dark);
  padding: 0;
}

.page--about .counter__wrapper {
  border-top: 1px solid #ffffff2b;
  padding-block: var(--ss-space-2xl) var(--ss-space-5xl);
}

@media (width > 992px) {
  .page--service .ds-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.page--service .service__item {
  background-color: var(--ss-dark);
}

.page--service .service__icon {
  background: var(--ss-card-bg);
}

.page--service .service__text {
  font-weight: 300;
}

.page--service .service__title.title {
  font-size: var(--ss-step-3);
}

/* portfolio page style */

.page--portfolio .portfolio__title {
  font-size: var(--ss-step-3);
}

.page--portfolio .portfolio {
  background-color: revert;
}

.page--portfolio .portfolio__filter {
  background: var(--ss-dark);
}