* {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  color: var(--ss-body-color);
  font-style: italic;
  text-decoration: unset;
  font-family: inherit;
}

body {
  background-color: var(--ss-body-bg);
  color: var(--ss-body-color);
  font-family: var(--ss-body-font-family);
  font-size: var(--ss-step-0);
  font-weight: var(--ss-body-font-weight);
  line-height: var(--ss-body-line-height);
}

.u-container,
.container {
  margin: 0 auto;
  padding-left: var(--ss-grid-gutter);
  padding-right: var(--ss-grid-gutter);
}

.container {
  max-width: var(--ss-grid-max-width);
}

.u-container {
  max-width: var(--ss-grid-ultimate-width);
}

cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--ss-space-xs);
}

.ds-inner-px {
  display: block;
  padding-block: var(--ss-space-l-xl);
}

.ds-outer-px {
  display: block;
  padding-block: var(--ss-space-5xl);
}

.ds-header {
  display: grid;
  place-content: center;
  text-align: center;
  gap: var(--ss-space-s);
}

.ds-grid {
  display: grid;
  gap: var(--ss-grid-gutter);
  grid-template-columns: repeat(var(--grid-columns, 1), 1fr);
  margin-top: var(--ss-space-xl);
}

@media (width > 768px) {
  .ds-grid {
    --grid-columns: 2;
  }
}

@media (width > 992px) {
  .ds-grid {
    --grid-columns: 3;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}