# Use the front controller as index file. It serves as a fallback solution.
DirectoryIndex index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow access to the sitemap.xml file
    RewriteRule ^sitemap\.xml$ /public/sitemap.xml [L,QSA]
</IfModule>

<IfModule mod_deflate.c>
    # Enable compression for the following MIME types
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
</IfModule>

<IfModule mod_headers.c>
    # Setting Cache-Control for static assets (JS, CSS, fonts, images, etc.)
    <FilesMatch "\.(js|css|woff|woff2|ttf|eot|ico|jpg|jpeg|png|gif|svg|webp|tiff|psd|raw|bmp|heif|indd|j2k)$">
        Header set Cache-Control "max-age=3600, public, must-revalidate"
    </FilesMatch>

    # Setting Cache-Control for dynamic content (HTML, PHP)
    <FilesMatch "\.(html|php)$">
        Header set Cache-Control "max-age=3600, private, must-revalidate"
    </FilesMatch>

    # Remove the ETag header for better caching behavior
    Header unset ETag
</IfModule>

# Disable ETag generation to avoid unnecessary validation requests
FileETag None
