.cta__btn--outline,
.cta__btn {
  padding: var(--ss-space-xs-s) var(--ss-space-m);
  border-radius: 100vmax;
  line-height: 1;
  text-decoration: none;
  display: inline-grid;
  place-content: center;
  font-weight: var(--ss-btn-font-weight);
  font-family: var(--ss-body-font-family);
  background-image: var(--ss-accent-gradient);
  grid-auto-flow: column;
  gap: var(--ss-space-3xs-2xs);
  place-items: baseline;
  overflow: hidden;
  cursor: pointer;
}

.cta__btn.loading {
  pointer-events: none;
  opacity: 0.5;
}


.cta__btn .icon,
.cta__btn--outline .icon {
  --icon-height: 14px;
}

.cta__btn {
  color: var(--ss-body-bg);
}

.cta__btn.disabled {
  font-weight: 400;
  background-image: none;
  background-color: #3c3c3c;
  color: gray;
}

.cta__btn--outline {
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border: 1px solid #19523859;
}

.cta__btn--outline .icon {
  --icon-gradient: var(--ss-accent-gradient);
}

.cta__btn--outline.disabled {
  --icon-color: gray;
  color: gray;
  opacity: 1 !important;
}

.cta__btn--outline.disabled::before {
  background-color: gray;
  opacity: 0.05;
}


.btn__tag {
  padding: 4px 10px 6px 10px;
  font-size: var(--ss-step--1);
  border-radius: 100vmax;
  overflow: hidden;
  color: var(--ss-body-color);
  font-weight: var(--ss-btn-font-weight);
  position: relative;
  z-index: 1;
  line-height: 1;
  border: 1px solid #ffffff40;
  margin-left: var(--ss-space-3xs-2xs);
}

.btn__tag::before {
  content: '';
  position: absolute;
  inset-inline: 0;
  inset-block: 0;
  z-index: -1;
}