.icon {
  display: inline-block;
  background-color: var(--icon-color, currentColor);
  background-image: var(--icon-gradient, none);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask: var(--icon-url) no-repeat center;
  mask: var(--icon-url) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: var(--icon-height, 16px);
  width: var(--icon-width, var(--icon-height, 16px));
}

.icon--message {
  --icon-url: url("../../icons/message.svg");
}

.icon--download-file {
  --icon-url: url("../../icons/download-file.svg");
}

.icon--computer-brush {
  --icon-url: url("../../icons/computer-brush.svg");
}
.icon--webpage-layout {
  --icon-url: url("../../icons/webpage-layout.svg");
}
.icon--computer-code {
  --icon-url: url("../../icons/computer-code.svg");
}