.icon {
  display: inline-block;
  background-color: var(--icon-color, currentColor);
  background-image: var(--icon-gradient, none);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask: var(--icon-url) no-repeat center;
  mask: var(--icon-url) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: var(--icon-height, 16px);
  width: var(--icon-width, var(--icon-height, 16px));
}

.icon--message {
  --icon-url: url("../../icons/message.svg");
}

.icon--download-file {
  --icon-url: url("../../icons/download-file.svg");
}

.icon--computer-brush {
  --icon-url: url("../../icons/computer-brush.svg");
}

.icon--webpage-layout {
  --icon-url: url("../../icons/webpage-layout.svg");
}

.icon--computer-code {
  --icon-url: url("../../icons/computer-code.svg");
}

.icon--eye {
  --icon-url: url("../../icons/eye.svg");
}

.icon--eye-2 {
  --icon-url: url("../../icons/eye-2.svg");
}

.icon--briefcase {
  --icon-url: url("../../icons/briefcase.svg");
}

.icon--graduation-cap {
  --icon-url: url("../../icons/graduation-cap.svg");
}

.icon--html5 {
  --icon-url: url("../../icons/html5.svg");
}

.icon--css3 {
  --icon-url: url("../../icons/css3.svg");
}

.icon--sass {
  --icon-url: url("../../icons/sass.svg");
}

.icon--javascript {
  --icon-url: url("../../icons/js.svg");
}

.icon--jquery {
  --icon-url: url("../../icons/jquery.svg");
}

.icon--bootstrap {
  --icon-url: url("../../icons/bootstrap.svg");
}

.icon--figma {
  --icon-url: url("../../icons/figma.svg");
}

.icon--illustrator {
  --icon-url: url("../../icons/ai.svg");
}

.icon--framer {
  --icon-url: url("../../icons/framer.svg");
}

.icon--sql {
  --icon-url: url("../../icons/sql.svg");
}

.icon--php {
  --icon-url: url("../../icons/php.svg");
}

.icon--symfony {
  --icon-url: url("../../icons/symfony.svg");
}

.icon--git {
  --icon-url: url("../../icons/git.svg");
}

.icon--github {
  --icon-url: url("../../icons/github.svg");
}

.icon--phone {
  --icon-url: url("../../icons/phone.svg");
}

.icon--mail {
  --icon-url: url("../../icons/envelope.svg");
}

.icon--map {
  --icon-url: url("../../icons/map.svg");
}