.form__select,
.form__input {
  display: block;
  background: var(--ss-dark);
  border: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  outline: unset;
  box-shadow: unset;
  border-radius: 7px;
  padding: var(--ss-space-xs) var(--ss-space-s);
  color: var(--ss-body-color);
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  transition: all 250ms ease-in-out;
  box-sizing: border-box;
}

textarea.form__input {
  line-height: 1.7;
}

.form__select.valid,
.form__input.valid,
.form__select:focus,
.form__input:focus {
  border-color: var(--ss-accent-color);
  outline: 0;
}

.form__select:invalid,
.form__select.invalid,
.form__input:invalid,
.form__input.invalid {
  border-color: var(--ss-danger);
}

.form__select.valid,
.form__input.valid {
  border-color: var(--ss-success);
}



.form__error {
  color: var(--ss-danger);
}

.form__select {
  padding-right: var(--ss-space-l);
}

.form__select-wrapper {
  position: relative;
}

.form__select-wrapper::after {
  content: '';
  position: absolute;
  top: var(--ss-space-xs);
  bottom: var(--ss-space-xs);
  margin-block: auto;
  right: var(--ss-space-xs);
  display: inline-block;
  background-color: var(--icon-color, currentColor);
  background-image: var(--icon-gradient, none);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask: url('../../icons/angle-down.svg') no-repeat center;
  mask: url('../../icons/angle-down.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 16px;
  width: 16px;
  z-index: 1;
}

.form__label {
  font-weight: 500;
  display: block;
  margin-bottom: var(--ss-space-2xs);
}

.form__input-wrapper {
  display: flex;
}

.input__wrapper--phone {
  position: relative;
}

.form__addon {
  display: grid;
  place-content: center;
  padding: var(--ss-space-xs) var(--ss-space-s);
  background-color: var(--ss-dark);
  color: var(--ss-body-color);
  border-radius: 7px;
  line-height: 1;
  padding-right: 0;
  position: absolute;
  z-index: 1;
  top: 1px;
  bottom: 1px;
  left: 1px;
}

#phone {
  padding-left: 73px;
}



.input__wrapper .hint--error {
  color: var(--ss-danger);
}

.input__wrapper .hint--success {
  color: var(--ss-success);
}

textarea.form__input+.hint--top-left {
  padding-top: var(--ss-space-s);
  place-content: start;
}

.input__wrapper {
  position: relative;
}

.form__optional-text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #999;
}

.input__wrapper [class*="hint"] {
  position: absolute;
  right: var(--ss-space-s);
  top: 1px;
  bottom: 2px;
  background-color: var(--ss-dark);
  padding-left: var(--ss-space-s);
  line-height: 1;
  margin-bottom: 0;
  display: grid;
  place-content: center;
  margin-block: unset !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 0s 250ms;
}

.input__wrapper [class*="hint"].show {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in-out;
}

.input__wrapper .hint--top-left:hover::after {
  transform: translateX(-100%) translate(8px, 6px);
}

.input__wrapper .hint--top-left:hover::before {
  transform: translate(8px, 6px);
}

.hint--always.hint--top-left::before {
  transform: translateY(2px) translateX(8px);
}

.hint--always.hint--top-left::after {
  transform: translateX(-97%) translateY(2px);
}