.form__select,
.form__input {
  display: block;
  background: var(--ss-dark);
  border-color: rgba(255, 255, 255, 0.15);
  outline: unset;
  box-shadow: unset;
  border-radius: 7px;
  padding: var(--ss-space-xs) var(--ss-space-s);
  color: var(--ss-body-color);
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-sizing: border-box;
  border-width: 1px;
}

textarea.form__input {
  line-height: 1.7;
}

.form__select.valid,
.form__input.valid,
.form__select:focus,
.form__input:focus {
  box-shadow: 0 0 5px 1px #3CB687;
  outline: 0;
}

.form__select:invalid,
.form__select.invalid,
.form__input:invalid,
.form__input.invalid {
  box-shadow: 0 0 5px 1px #de0000a8 !important;
}

.form__select {
  padding-right: var(--ss-space-l);
}

.form__select-wrapper {
  position: relative;
}

.form__select-wrapper::after {
  content: '';
  position: absolute;
  top: var(--ss-space-xs);
  bottom: var(--ss-space-xs);
  margin-block: auto;
  right: var(--ss-space-xs);
  display: inline-block;
  background-color: var(--icon-color, currentColor);
  background-image: var(--icon-gradient, none);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask: url('../../icons/angle-down.svg') no-repeat center;
  mask: url('../../icons/angle-down.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 16px;
  width: 16px;
  z-index: 1;
}

.form__label {
  font-weight: 500;
  display: block;
  margin-bottom: var(--ss-space-2xs);
}

.form__input-wrapper {
  display: flex;
}

.form__input-wrapper .form__input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form__input-wrapper.invalid .form__input {
  border-top-color: #de0000;
  border-bottom-color: #de0000;
  border-right-color: #de0000;
  border-left-color: transparent;
}

.form__input-wrapper.invalid .form__addon {
  border-top-color: #de0000;
  border-bottom-color: #de0000;
  border-left-color: #de0000;
}

.form__addon {
  display: grid;
  place-content: center;
  padding: var(--ss-space-xs) var(--ss-space-s);
  background-color: var(--ss-dark);
  color: var(--ss-body-color);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: hidden;
  border-radius: 7px 0 0 7px;
  line-height: 1;
}

.input__wrapper [class*="hint"] {
  color: var(--ss-danger);
  position: absolute;
  right: var(--ss-space-s);
  top: 1px;
  bottom: 2px;
  background-color: var(--ss-dark);
  padding-left: var(--ss-space-s);
  line-height: 1;
  margin-bottom: 0;
  display: grid;
  place-content: center;
  margin-block: unset !important;
}

textarea.form__input+.hint--top-left {
  padding-top: var(--ss-space-s);
  place-content: start;
}

.input__wrapper .hint--top-left:hover::after {
  transform: translateX(-100%) translate(8px, 6px);
}

.input__wrapper .hint--top-left:hover::before {
  transform: translate(8px, 6px);
}

.input__wrapper {
  position: relative;
}

.form__optional-text {
  font-size: 0.8rem;
  font-weight: 300;
  /* Light font weight */
  color: #999;
}