h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ss-heading-color);
  font-family: var(--ss-heading-font-family);
  font-weight: var(--ss-heading-font-weight);
  line-height: var(--ss-heading-line-height);
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  background-image: var(--ss-accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: var(--ss-space-xs);
}

.title .icon {
  --icon-gradient: var(--ss-accent-gradient);
  --icon-color: transparent;
  aspect-ratio: 1/1;
}

.subtitle {
  position: relative;
  width: fit-content;
  margin-inline: auto;
  margin-top: var(--ss-space-2xs);
  z-index: 1;
}

.subtitle::before {
  content: "";
  position: absolute;
  height: 170%;
  aspect-ratio: 1/1;
  background: rgba(var(--ss-accent-color-rgb), .15);
  z-index: -1;
  border-radius: 100vmax;
  top: -27%;
  left: -9%;
}

h1 {
  font-size: var(--ss-step-5);
}

h2 {
  font-size: var(--ss-step-4);
}

/* .ds-header h2, */
h3 {
  font-size: var(--ss-step-3);
}

h4 {
  font-size: var(--ss-step-2);
}

h5 {
  font-size: var(--ss-step-1);
}

.subtitle {
  grid-row: 1;
  font-size: var(--ss-step-0);
  font-weight: var(--ss-btn-font-weight);
}

small {
  font-size: var(--ss-step--1);
}