.breadcrumb {
  position: relative;
  z-index: 1;
}

.breadcrumb::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}

.breadcrumb::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -2;
  background-image: url('../../img/breadcrumb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.breadcrumb__wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: var(--ss-space-s-m);
  height: 32vh;
  justify-content: center;
  align-content: end;
  justify-items: center;
  grid-auto-rows: max-content;
}

.breadcrumb__title {
  font-size: var(--ss-step-4);
}

.breadcrumb__list {
  display: grid;
  grid-auto-flow: column;
  gap: var(--ss-space-s);
  padding-left: 0;
  list-style-type: none;
}

.breadcrumb__item:not(:last-child)::after {
  content: '';
  color: var(--ss-text-color);
  display: inline-block;
  margin-left: var(--ss-space-s);
  background-color: var(--icon-color, currentColor);
  background-image: var(--icon-gradient, none);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-mask: url('../../icons/arrow-next.svg') no-repeat center;
  mask: url('../../icons/arrow-next.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  height: 16px;
  width: 16px;
  transform: translateY(3px);
  z-index: 1;
}

.breadcrumb__link {
  color: var(--ss-text-color);
  text-decoration: none;
}