.callout {
  background-color: var(--ss-card-bg);
}

.callout__wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  place-items: center;
}

.callout__title {
  margin-bottom: var(--ss-space-s);
}

.callout .cta__btn {
  margin-top: var(--ss-space-s-l);
}

.callout__text {
  text-wrap: balance;
}