.callout {
  background-color: var(--ss-card-bg);
  overflow: hidden;
}

.callout__wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  place-items: center;
}

.callout__title {
  margin-bottom: var(--ss-space-s);
}

.callout .cta__btn {
  margin-top: var(--ss-space-s-l);
}

.callout__text {
  text-wrap: balance;
}

@media (width < 768px) {
  .callout__wrapper {
    place-content: start;
    text-align: start;
    place-items: start;
    padding-inline: var(--ss-space-s);
    padding-block: var(--ss-space-s);
  }

  .page--about .callout .cta__btn {
    margin-top: 0;
  }
}