.contact {
  overflow: hidden;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ss-space-m) var(--ss-space-2xl);
}

.contact__info-header {
  place-content: start;
  text-align: start;
}

.contact__subtitle {
  margin-left: 8px;
}

.contact__list {
  padding-left: 0;
  list-style-type: none;
  margin-top: var(--ss-space-l);
}

.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: var(--ss-space-m);
}

.contact__icon {
  background: var(--ss-dark);
  border-radius: 100vmax;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  width: fit-content;
  padding: var(--ss-space-s);
  grid-area: icon;
}

.contact__icon .icon {
  --icon-height: 24px;
  --icon-gradient: var(--ss-accent-gradient);
}

.contact__link {
  display: grid;
  grid-template-areas: 'icon subtitle' 'icon title';
  column-gap: var(--ss-space-xs-s);
  text-decoration: none;
  color: white;
}

.contact__item-subtile {
  grid-area: subtitle;
  line-height: 1.4;
  font-weight: 300;
}

.contact__item-title {
  grid-area: title;
  font-weight: 600;
  font-size: var(--ss-step-1);
  line-height: 1.5;
  color: var(--ss-heading-color);
  transition: color 500ms ease-in-out;
}

.contact__item-title:hover {
  color: var(--ss-accent-color);
}

.contact__form {
  padding: var(--ss-space-l);
  border-radius: var(--ss-border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ss-space-s) var(--ss-grid-gutter);
  grid-auto-rows: max-content;
}

.contact .cta__btn {
  border: hidden;
  font-size: var(--ss-step-0);
}

.contact [class*='hint'] {
  margin-top: var(--ss-space-s-m);
}

.contact__form .full-width {
  grid-column: span 2;
}

@media (min-width: 768px) {
  .contact__wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .contact__icon {
    background-color: var(--ss-card-bg);
  }
}

.contact__title {
  margin-bottom: 0;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  60% {
    transform: translateX(-4px);
  }

  40%,
  80% {
    transform: translateX(4px);
  }
}

.bounce {
  animation: bounce 0.5s ease;
}

.form__group--submit {
  display: flex;
  place-items: center;
  gap: var(--ss-space-xs-s);
  flex-wrap: wrap;
}

.form__success .icon,
.form__error .icon {
  margin-right: var(--ss-space-3xs);
  transform: translateY(-2px);
}

.form__group--submit .form__error::before,
.form__group--submit .form__success::before {
  content: "";
  position: absolute;
  inset: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  z-index: -1;
}

.form__group--submit .form__error,
.form__group--submit .form__success {
  position: relative;
  z-index: 1;
  margin-top: var(--ss-space-2xs);
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

.contact__form {
  overflow: hidden;
}

.form__result {
  opacity: 0;
  transition: all 1s ease;
  padding-top: 14px;
}

.form__result.show {
  opacity: 1;
}

.form__group--submit .form__error,
.form__group--submit .form__success {
  transform: translateY(-2px);
}

.contact .form__group--submit {
  margin-top: 6px;
}

.dots {
  display: inline-block;
  width: 20px;
  text-align: left;
}

.dots::after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    content: '';
  }

  40% {
    content: '.';
  }

  60% {
    content: '..';
  }

  80%,
  100% {
    content: '...';
  }
}

@media (width < 768px) {
  .contact__form {
    grid-template-columns: 1fr;
  }

  .contact__form .full-width {
    grid-column: 1;
  }

  .contact__list {
    border-radius: var(--ss-border-radius);
    padding: var(--ss-space-l);
  }

  .contact__item:last-child {
    margin-bottom: 0;
  }
}

@media (width >= 768px) {
  .contact__list::after {
    content: unset;
  }
}