.counter {
  display: block;
  padding-block: var(--ss-space-l-xl);
  overflow: hidden;
}

.counter.bg-blur {
  border-inline: hidden;
}

.counter__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ss-grid-gutter);
}

.counter__item:nth-child(3) {
  grid-row: 1;
}

@media (400px < width <=768px) {
  .counter__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .counter__item {
    grid-row: 2;
  }

  div.counter__item:nth-child(3) {
    grid-row: 1;
    grid-column: 1/3;
  }
}

@media (width < 768px) {

  .counter__item:nth-child(1),
  .counter__item:nth-child(2) {
    border: 1px solid #ffffff26;
    border-radius: var(--ss-border-radius);
    padding: var(--ss-space-xs-s);
    margin-top: var(--ss-space-s-m);
  }

  .counter__wrapper {
    padding-inline: var(--ss-space-s);
  }

  .counter {
    padding-block: var(--ss-space-xl);
  }
}

@media (width >=768px) {
  .counter__number.aboutme {
    display: none;
  }

  .counter__wrapper {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .counter__item:nth-child(3) {
    grid-row: unset;
  }
}