.counter {
  display: block;
  background: var(--ss-card-bg);
  padding: var(--ss-space-l-xl);
}

.counter__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ss-grid-gutter);
}

.counter__item:nth-child(3) {
  grid-row: 1;
}

@media (400px < width <=768px) {
  .counter__wrapper {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .counter__item {
    grid-row: 2;
  }

  div.counter__item:nth-child(3) {
    grid-row: 1;
    grid-column: 1/3;
  }
}

@media (width > 768px) {
  .counter__number.aboutme {
    display: none;
  }

  .counter__wrapper {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .counter__item:nth-child(3) {
    grid-row: unset;
  }
}