.footer {
  background-color: var(--ss-card-bg);
  overflow: hidden;
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--ss-space-m-l);
}

.footer__text {
  color: var(--ss-accent-color);
}