.footer {
  background-color: var(--ss-card-bg);
  padding-block: var(--ss-space-2xl);
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--ss-space-m-l);
}