.footer {
  margin-top: var(--ss-space-5xl);
  padding-block: var(--ss-space-xl);
  overflow: hidden;
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--ss-space-m-l);
}

.footer__text {
  color: var(--ss-accent-color);
}

@media (width < 992px) {
  .footer {
    padding-bottom: var(--ss-space-5xl);
  }
}