.header {
  position: absolute;
  top: var(--ss-space-xl);
  z-index: 998;
  border-radius: 100vmax;
  max-width: var(--ss-grid-max-width);
  margin: 0 auto;
  left: var(--ss-grid-gutter);
  right: var(--ss-grid-gutter);
  padding: var(--ss-space-2xs);
}

.header__wrapper {
  display: grid;
  grid-auto-flow: column;
  place-content: space-between;
  place-items: center;
}

.brand__link {
  display: block;
  line-height: 1;
}

.brand__logo {
  margin-left: var(--ss-space-3xs);
}

.nav__list {
  display: flex;
  gap: var(--ss-space-xl);
  list-style-type: none;
}

.header .nav__item .nav__link {
  background-color: white;
  background-image: -webkit-linear-gradient(left, var(--ss-accent-color) 0%, var(--ss-accent-dark-color) 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 200% 200%;
  color: transparent;
  -webkit-transition: .1s .2s;
  -webkit-background-clip: text;
}

.header .nav__item:hover .nav__link:hover {
  background-position: 0 0;
  color: transparent;
  transition: .4s 0;
}

.header .nav__item.active .nav__link {
  background-image: var(--ss-accent-gradient);
  padding-bottom: var(--ss-space-xs);
}

.nav__link {
  color: var(--ss-heading-color);
  text-decoration: none;
  font-weight: var(--ss-btn-font-weight);
}

#header-fixed {
  position: fixed;
  width: 56px;
  z-index: 999;
  transition: bottom .35s ease-in-out, transform .35s ease-in-out, opacity .35s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
  height: fit-content;
  bottom: var(--ss-space-s-m);
  line-height: 1;
  border-radius: var(--ss-border-radius);
  right: 30px;
  bottom: 24vh;
}

.tawk-online #header-fixed {
  bottom: 90px;
}


#header-fixed .nav__list {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: var(--ss-space-2xs);
  padding-left: 0;
}

#header-fixed .header__wrapper {
  max-width: var(--ss-grid-max-width);
  margin-inline: auto;
}

#header-fixed cta {
  display: none;
}

.tawk-message-visible #header-fixed {
  opacity: 0 !important;
}

#header-fixed .nav__link {
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  cursor: pointer;
  border-radius: 100vmax;
  overflow: hidden;
  bottom: 0;
  line-height: 1;
  opacity: 1;
  transition: all 500ms ease;
  padding: var(--ss-space-xs);
  border: 2px solid #fff3;
}

#header-fixed .nav__link .icon {
  --icon-height: 20px;
  transition: all 500ms ease;
}

#header-fixed .nav__item.active .icon,
#header-fixed .nav__item:hover .icon {
  --icon-color: var(--ss-accent-color);
}

#header-fixed .nav__item.active .nav__link,
#header-fixed .nav__item:hover .nav__link {
  border-color: #49d9982b;
}

#header-fixed .nav__link.scroll-to-top {
  grid-template-columns: 50px auto;
}

#header-fixed .nav__link::after {
  content: "";
  background: #ffffff12;
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(2rem);
}

#header-fixed [class*="hint--"]::after {
  background: var(--ss-card-bg);
  color: var(--ss-accent-color);
  border: 2px solid #49d9982b;
  padding-bottom: 12px;
}

#header-fixed .hint--left:hover::after,
#header-fixed .hint--left:hover::before {
  transform: translateX(-8px) translateY(3px);
}

@media (width < 768px) {
  header .nav {
    display: none;
  }

  .brand__logo {
    width: auto;
    height: 32px;
    margin-left: var(--ss-space-2xs);
  }

  #header-fixed .nav__list {
    flex-direction: row;
    gap: 8px;
    place-content: space-around;
  }

  #header-fixed {
    width: calc(100% - var(--ss-grid-gutter) - 48px);
    right: 0;
    left: 0;
    bottom: 24px !important;
    padding: var(--ss-space-s) var(--ss-space-2xl) var(--ss-space-s) var(--ss-space-m);
    border-radius: 100vmax;
    opacity: 1 !important;
    transform: translate(0) !important;
    border: 1px solid #ffffff29;
    margin-inline: auto;
  }

  .tawk-offline #header-fixed {
    padding: var(--ss-space-s) var(--ss-space-m);
  }

  .tawk-message-visible #header-fixed {
    opacity: 1 !important;
  }

  #header-fixed::after {
    content: "";
    background: #ffffff12;
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(2rem);
    border-radius: 100vmax;
  }

  #header-fixed .nav__link {
    padding: 0;
    border: none;
    overflow: visible;
  }

  #header-fixed .nav__link::after {
    content: unset;
  }

  #header-fixed .hint--left::before,
  #header-fixed .hint--left::after {
    display: none;
  }

  .footer {
    padding-bottom: 102px;
  }
}