.hero {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.hero__wrapper {
  display: grid;
  transform: translateY(48px);
}

.hero__title {
  margin-bottom: var(--ss-space-s-m);
}

.hero__cta {
  margin-top: var(--ss-space-s-l);
}

.hero__subtitle {
  margin-bottom: var(--ss-space-xs-s);
}

.hero .cta__btn--outline {
  min-width: 225px;
  border: 2px solid #19523859;
}

@media (width < 768px) {
  .hero {
    text-align: start;
  }

  .hero__cta {
    margin-top: var(--ss-space-l);
    justify-content: start;
  }
}

@media (width > 1400px) {
  .hero__text,
  .hero__cta {
    font-size: 17px;
  }
}