.hero {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(/assets/img/abstract.svg);
  background-size: 100%;
  opacity: 0.2;
}

.hero__content {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero__wrapper {
  position: relative;
  z-index: 1;
}

.hero__wrapper::before {
  content: '';
  position: absolute;
  bottom: 0%;
  top: 0%;
  inset-inline: 0;
  z-index: -1;
  background-image: radial-gradient(50% 50% at 50% 50%, #090909 44%, rgba(0, 0, 0, 0) 100%);
  aspect-ratio: 1/1;
  transform: translateY(-30%);
}

.hero__content .container {
  max-width: var(--ss-grid-ultimate-width);
}

.hero__wrapper {
  display: grid;
  transform: translateY(48px);
}

.hero__title {
  margin-bottom: var(--ss-space-s-m);
}

.hero__cta {
  margin-top: var(--ss-space-s-l);
  gap: var(--ss-space-s-m);
}

.hero__subtitle {
  margin-bottom: var(--ss-space-m);
}

.hero .cta__btn--outline {
  min-width: 225px;
}

@media (width < 600px) {
  h1 {
    font-size: var(--ss-step-6);
  }

  .hero .cta__btn--outline {
    min-width: 100%;
    padding-bottom: 14px;
  }

  .hero__cta {
    flex-direction: column;
  }

  .hero .cta__btn--outline:first-child {
    outline-color: transparent;
    color: var(--ss-body-bg);
  }

  .hero .cta__btn--outline:hover:first-child {
    color: var(--ss-body-color);
  }

  .hero .cta__btn--outline:first-child::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--ss-accent-gradient);
    clip-path: circle(150% at 50% 50%);
    transition: clip-path 0.4s ease, opacity 0.4s ease;
    z-index: -1;
    opacity: 1;
  }

  .hero .cta__btn--outline:first-child:hover::before {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }

  .hero .cta__btn--outline:first-child .icon {
    --icon-gradient: none;
  }
}

@media (width < 768px) {
  .hero::before {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    transform: scaleX(-1);
    opacity: 0.6;
    z-index: -2;
  }

  .hero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: 100%;
    background-image: linear-gradient(to top, black 70%, #0000 78%);
  }

  .hero__content {
    text-align: start;
  }

  .hero__cta {
    margin-top: var(--ss-space-l);
    justify-content: start;
  }

  .hero__wrapper {
    padding-inline: var(--ss-space-s);
  }
}

@media (width > 1400px) {

  .hero__text,
  .hero__cta {
    font-size: 17px;
  }
}