.hero {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(var(--ss-accent-color-rgb), 5%) 0%, transparent 25%, transparent 82%);
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../../img/waves-line-abstract/5.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.hero__content {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero__wrapper {
  position: relative;
  z-index: 1;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(50% 50% at 50% 50%, var(--ss-body-bg) 44%, rgba(0, 0, 0, 0) 100%);
  aspect-ratio: 1/1;
  width: 65%;
  margin: auto;
}

.hero__content .container {
  max-width: var(--ss-grid-ultimate-width);
}

.hero__wrapper {
  display: grid;
  transform: translateY(48px);
}

.hero__title {
  margin-bottom: var(--ss-space-s-m);
}

.hero__cta {
  margin-top: var(--ss-space-s-l);
  gap: var(--ss-space-s-m);
}

.hero__subtitle {
  margin-bottom: var(--ss-space-m);
}

.hero .cta__btn--outline {
  min-width: 225px;
}

@media (width < 600px) {
  h1 {
    font-size: var(--ss-step-6);
  }

  .hero .cta__btn--outline {
    min-width: 100%;
    padding-bottom: 14px;
  }

  .hero__cta {
    flex-direction: column;
  }

  .hero .cta__btn--outline:first-child {
    outline-color: transparent;
    color: var(--ss-body-bg);
  }

  .hero .cta__btn--outline:hover:first-child {
    color: var(--ss-body-color);
  }

  .hero .cta__btn--outline:first-child::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--ss-accent-gradient);
    clip-path: circle(150% at 50% 50%);
    transition: clip-path 0.4s ease, opacity 0.4s ease;
    z-index: -1;
    opacity: 1;
  }

  .hero .cta__btn--outline:first-child:hover::before {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }

  .hero .cta__btn--outline:first-child .icon {
    --icon-gradient: none;
  }
}

@media (width < 768px) {
  .hero::before {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom 70%;
    transform: scaleX(-1);
    opacity: 0.6;
    z-index: -2;
  }

  .hero__content {
    text-align: start;
  }

  .hero__cta {
    margin-top: var(--ss-space-l);
    justify-content: start;
  }

  .hero__wrapper {
    padding-inline: var(--ss-space-s);
  }
}

@media (width > 1400px) {
  .hero__text,
  .hero__cta {
    font-size: 17px;
  }
}

.floating-projects {
  display: none;
}

@media (width > 992px) {

  .floating-projects {
    position: absolute;
    display: block;
    inset: 0;
    z-index: -1;
  }

  .floating-item {
    position: absolute;
    width: 300px;
    /* Adjust image size if necessary */
    animation: flowDown 15s infinite linear;
    /* Make sure the animation is linear for a smooth continuous flow */
    top: 0;
    /* Start from the top */
    left: calc(100% * var(--x));
    /* Random horizontal position */
  }

  .floating-item .portfolio__stats {
    padding-inline: 2px;
    font-size: var(--ss-step--1);
    --icon-height: 12px;
  }

  .floating-item__content {
    border-radius: 10px;
    padding: var(--ss-space-s);
    background: linear-gradient(to bottom, #43E29B14 0%, transparent 100%);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 4px 50px var(--ss-body-bg);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.07);
  }

  .floating-item img {
    width: 100%;
    border-radius: 8px;
  }

  @keyframes flowDown {
    0% {
      transform: translateY(-100%);
      /* Start above the container */
    }

    100% {
      transform: translateY(102vh);
      /* Move all the way to the bottom of the screen */
    }
  }
}