.offline {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  background-color: var(--ss-dark);
  z-index: 300000000000;
}

.offline__title {
  font-size: var(--ss-step-5);
  line-height: 1;
  margin-bottom: var(--ss-space-l);
  font-weight: 802;
}

.offline__message {
  margin-bottom: var(--ss-space-xs-s);
}

.offline__action {
  margin-top: var(--ss-space-s)
}


.offline__title .icon--off-btn {
  --icon-height: 37px;
}