.offline {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  background-color: var(--ss-dark);
  z-index: 300000000000;
  overflow: hidden;
}

.offline__content {
  padding-inline: var(--ss-grid-gutter);
}

.offline__title {
  font-size: var(--ss-step-5);
  line-height: 1;
  margin-bottom: var(--ss-space-l);
  font-weight: 802;
}

.offline__message {
  margin-bottom: var(--ss-space-xs-s);
  max-width: 55ch;
}

.offline__action {
  margin-top: var(--ss-space-l);
  display: flex;
  gap: var(--ss-space-xs-s);
  place-items: center;
  place-content: center;
}


.offline__title .icon--off {
  height: var(--ss-step-3);
  margin-right: 3px;
}

.offline__title {
  --red-color: #ff4a4a;
}

.offline__title .icon--off {
  border: 1px solid var(--red-color);
  border-radius: 100vmax;
  padding: 2px;
}

@media (width > 992px) {
  .offline__title .icon--off {
    padding: 4px;
  }
}

.offline__title path {
  fill: var(--red-color);
}


.offline__title .icon--off {
  height: clamp(1.512rem, 1.2379rem + 1.3704vw, 2.85rem);
  filter: drop-shadow(0px 0px 4px var(--red-color));
  box-shadow: 0px 0px 4px var(--red-color);
}

.offline .cta__btn {
  --ss-accent-color: white;
}

.offline .cta__btn::before {
  background-image: linear-gradient(to right, white, white);
}

.offline .cta__btn:nth-child(2) {
  background-image: linear-gradient(to right, gray, gray);
  color: white;
}

.offline .cta__btn:nth-child(2)::before {
  background-image: linear-gradient(to right, #282828, #282828);
}