.offline {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  background-color: var(--ss-dark);
  z-index: 300000000000;
}

.offline__content {
  padding-inline: var(--ss-grid-gutter);
}

.offline__title {
  font-size: var(--ss-step-5);
  line-height: 1;
  margin-bottom: var(--ss-space-l);
  font-weight: 802;
}

.offline__message {
  margin-bottom: var(--ss-space-xs-s);
  max-width: 55ch;
}

.offline__action {
  margin-top: var(--ss-space-l);
  display: flex;
  gap: var(--ss-space-xs-s);
  place-items: center;
  place-content: center;
}


.offline__title .icon--off {
  height: var(--ss-step-3);
  margin-right: 3px;
}

.offline__action .cta__btn--outline {
  border-width: 2px;
}