.portfolio {
  background-color: var(--ss-dark);
  overflow: hidden;
}

.portfolio__item {
  background-color: var(--ss-card-bg);
  border-radius: var(--ss-border-radius);
  padding: var(--ss-space-s-m) var(--ss-space-s-m) 0 var(--ss-space-s-m);
  position: relative;
  overflow: hidden;
}

.portfolio__content {
  position: absolute;
  bottom: -100%;
  inset-inline: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.portfolio__item:hover .portfolio__content {
  bottom: 0;
}

.portfolio__content-box {
  position: relative;
  display: grid;
  grid-template-areas: 'title    title   ' 'subtitle subtitle' 'hr hr' 'stats    btn     ';
  grid-template-columns: 1fr auto;
  padding: var(--ss-space-s-m);
  overflow: hidden;
  z-index: 1;
  border-top: 1px solid #ffffff0f;
  column-gap: var(--ss-space-l);
  row-gap: 4px
}

.portfolio__stats {
  grid-area: stats;
  display: flex;
  align-items: center;
  gap: var(--ss-space-3xs-2xs);
}

.portfolio__stat-item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  line-height: 1;
}

.portfolio__stat-item .icon {
  transform: translateY(2px);
}

.portfolio__tools {
  place-self: end;
  grid-area: tools;
  font-size: 14px;
}

.portfolio__content-box::before {
  content: '';
  position: absolute;
  inset-inline: 0;
  inset-block: 0;
  backdrop-filter: blur(1.5rem);
  z-index: -1;
}

.portfolio__item-title {
  grid-area: title;
}

.portfolio__item-text {
  grid-area: subtitle;
  font-weight: 300;
  line-height: 1.2;
}

.portfolio__item-title {
  font-size: var(--ss-step-1);
  margin-bottom: var(--ss-space-3xs-2xs);
}

.portfolio__link {
  display: block;
  text-decoration: none;
}

.portfolio__picture {
  display: block;
  border-radius: var(--ss-border-radius) var(--ss-border-radius) 0 0;
  overflow: hidden;
  margin-bottom: 0;
  aspect-ratio: 404/316;
}

.portfolio__image {
  object-fit: cover;
  transform: scale(1);
  transition: all 1s ease-in-out;
}

.portfolio__item:hover .portfolio__image {
  transform: scale(1.2);
}

.portfolio__item:not(.coming-soon) .portfolio__image {
  object-position: 100% -1px !important;
}

@media (width > 992px) {
  .portfolio__grid {
    --grid-columns: 2;
  }
}

.portfolio__content .cta__link {
  display: flex;
  place-items: self-end;
  gap: var(--ss-space-3xs-2xs);
  align-self: center;
  grid-area: btn;
  line-height: 1;
  padding: 0;
  font-size: 14px;
  color: var(--ss-accent-color);
  padding-bottom: 1px;
  margin-bottom: -1px;
  font-weight: 600;
  text-decoration: none;
}

.portfolio__content .cta__link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.portfolio__content hr {
  grid-area: hr;
  opacity: .2;
  margin-block: var(--ss-space-s) var(--ss-space-xs);
}

.portfolio__content .cta__link .icon {
  --icon-color: var(--ss-accent-color);
  --icon-height: 12px;
}

.portfolio__filter {
  width: fit-content;
  margin-inline: auto;
  margin-top: var(--ss-space-s-m);
  background: var(--ss-card-bg);
  border-radius: 100vmax;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--ss-space-2xs);
}

.portfolio__filter-btn {
  background-color: white;
  background-image: -webkit-linear-gradient(left, var(--ss-accent-color) 0%, var(--ss-accent-dark-color) 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 200% 100%;
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  border: none;
  padding: var(--ss-space-xs) var(--ss-space-s);
  line-height: 1;
  font-weight: 600;
  font-family: var(--ss-body-font-family);
  font-size: var(--ss-step-0);
  cursor: pointer;
  min-width: 72px;
  z-index: 1;
  position: relative;
  transition: background-position 0.4s ease, color 0.3s ease;
}

.portfolio__filter-btn:hover:not(.active) {
  background-position: 0 0;
  color: transparent;
  transition: background-position 0.4s ease, color 0.3s ease;
}

.portfolio__filter-btn.active {
  background-image: none;
  color: var(--ss-dark);
}

.portfolio__filter .highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: var(--ss-accent-gradient);
  border-radius: 100vmax;
  z-index: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}

.portfolio__grid {
  margin-top: var(--ss-space-xl);
}

.portfolio__item-title {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: var(--ss-space-xs-s);
}

.portfolio__tags {
  display: inline-flex;
  flex-wrap: wrap;
  place-items: center;
  transform: translateY(2px);
}

.portfolio .portfolio__item.UI-UX.Web-Design.Logo-Design.Apps:last-child .portfolio__tags {
  display: none;
}

@media (width < 768px) {
  .portfolio__filter {
    border-radius: 20px;
    padding: var(--ss-space-xs-s);
  }

  .portfolio__content {
    position: static;
  }

  .portfolio__content-box {
    padding-inline: 0;
  }
}