.portfolio {
  background-color: var(--ss-dark);
}

.portfolio__item {
  background-color: var(--ss-card-bg);
  border-radius: var(--ss-border-radius);
  padding: var(--ss-space-s-m) var(--ss-space-s-m) 0 var(--ss-space-s-m);
  position: relative;
  overflow: hidden;
}

.portfolio__content {
  position: absolute;
  bottom: -100%;
  inset-inline: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.portfolio__item:hover .portfolio__content {
  bottom: 0;
}

.portfolio__content-box {
  position: relative;
  display: grid;
  grid-template-areas: 'title    title   ' 'subtitle subtitle' 'hr hr' 'stats    btn     ';
  grid-template-columns: 1fr auto;
  padding: var(--ss-space-s-m);
  overflow: hidden;
  z-index: 1;
  border-top: 1px solid #ffffff0f;
  column-gap: var(--ss-space-l);
  row-gap: 4px
}

.portfolio__stats {
  grid-area: stats;
  display: flex;
  align-items: center;
  gap: var(--ss-space-3xs-2xs);
}

.portfolio__stat-item {
  display: flex;
  align-items: baseline;
  gap: 4px;
  line-height: 1;
}

.portfolio__stat-item .icon {
  transform: translateY(2px);
}

.portfolio__tools {
  place-self: end;
  grid-area: tools;
  font-size: 14px;
}

.portfolio__content-box::before {
  content: '';
  position: absolute;
  inset-inline: 0;
  inset-block: 0;
  backdrop-filter: blur(1.5rem);
  z-index: -1;
}

.portfolio__item-title {
  grid-area: title;
}

.portfolio__item-text {
  grid-area: subtitle;
  font-weight: 300;
  line-height: 1.2;
}

.portfolio__item-title {
  font-size: var(--ss-step-1);
  margin-bottom: var(--ss-space-3xs-2xs);
}

.portfolio__link {
  display: block;
}

.portfolio__picture {
  display: block;
  border-radius: var(--ss-border-radius) var(--ss-border-radius) 0 0;
  overflow: hidden;
  margin-bottom: 0;
  aspect-ratio: 404/316;
}

.portfolio__image {
  object-fit: cover;
  transform: scale(1);
  transition: all 1s ease-in-out;
}

.portfolio__item:hover .portfolio__image {
  transform: scale(1.2);
}

.portfolio__item:not(.coming-soon) .portfolio__image {
  object-position: 100% -1px !important;
}

@media (width > 992px) {
  .portfolio__grid {
    --grid-columns: 2;
  }
}

.portfolio__content .cta__btn {
  align-self: center;
  grid-area: btn;
  line-height: 1;
  color: wheat;
  padding: 0;
  background: no-repeat;
  color: var(--ss-accent-color);
}

.portfolio__content hr {
  grid-area: hr;
  opacity: .2;
  margin-block: var(--ss-space-s) var(--ss-space-xs);
}

.portfolio__content .cta__btn .icon {
  --icon-height: 12px;
}

.portfolio__filter {
  width: fit-content;
  margin-inline: auto;
  margin-top: var(--ss-space-s-m);
  background: var(--ss-card-bg);
  border-radius: 100vmax;
}

.portfolio__filter-btn {
  background: transparent;
  border: hidden;
  color: white;
  padding: var(--ss-space-xs) var(--ss-space-s);
  line-height: 1;
  font-weight: 600;
  font-family: var(--ss-body-font-family);
  margin-right: var(--ss-space-3xs);
  font-size: var(--ss-step-0);
  cursor: pointer;
  min-width: 72px;
}

.portfolio__filter-btn:hover,
.portfolio__filter-btn.active {
  background-image: var(--ss-accent-gradient);
  border-radius: 100vmax;
  color: var(--ss-body-bg);
}

.portfolio__grid {
  margin-top: var(--ss-space-xl);
}

.portfolio__tags {
  display: inline-flex;
  flex-wrap: wrap;
  place-items: center;
}

.portfolio .portfolio__item.UI-UX.Web-Design.Logo-Design.Apps:last-child .portfolio__tags {
  display: none;
}