.profile__title {
  font-size: var(--ss-step-3);
  overflow: hidden;
}

.profile__title .icon {
  --icon-height: calc(var(--ss-step-3) - 4px);
  margin-right: var(--ss-space-2xs);
}

.profile__title {
  display: flex;
  place-items: center;
}

.page--home .profile__title {
  padding-inline: var(--ss-space-s-l);
}

.profile__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--ss-space-xl-2xl) var(--ss-grid-gutter);
}

.profile__list {
  display: grid;
  gap: var(--ss-grid-gutter);
  margin-top: var(--ss-space-s-m);
  padding-left: 0;
}

.profile__item {
  display: grid;
  border-radius: var(--ss-border-radius);
  padding: var(--ss-space-s-l);
  align-content: space-evenly;
}

.profile__item-date {
  grid-row: 1;
  font-size: var(--ss-step-0);
  color: var(--ss-accent-color);
  margin-bottom: var(--ss-space-xs);
}

.profile__item-title {
  font-size: var(--ss-step-1);
  line-height: 1.4;
  margin-bottom: var(--ss-space-2xs);
}

.profile--aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--ss-space-l);
}

.profile--aboutme+hr {
  margin-block: var(--ss-space-2xl);
  opacity: .2;
}

.profile__subtitle {
  margin-left: 0;
}

.profile__subtitle::before {
  content: unset;
}

@media (min-width: 768px) {
  .profile__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .profile__list {
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
  }
}