.skill {
  position: relative;
  z-index: 1;
}

.skill__figure {
  padding: var(--ss-space-m-l);
  border-radius: var(--ss-border-radius);
  margin-bottom: var(--ss-space-xs);
}

.skill__figure.bg-blur::after {
  backdrop-filter: blur(4px);
}

.skill__list {
  display: grid;
  list-style-type: none;
  gap: var(--ss-grid-gutter);
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
  margin-top: var(--ss-space-xl);
  text-align: center;
  padding-left: 0;
}

.skill__item .icon {
  --icon-height: 64px;
}

.skill__text {
  color: var(--ss-accent-color);
}

.skill__caption {
  margin-top: var(--ss-space-s);
  font-weight: 600;
  line-height: 1;
}

.skill .bg-img {
  top: calc(0px - var(--ss-space-3xs));
}

@media (width < 768px) {
  .skill__list {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    margin-top: var(--ss-space-l);
  }

  .skill__item .icon {
    --icon-height: 32px;
  }
}